@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}

/* Fix double scrollbar issue */
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  overflow-y: auto;
}

/* Custom colors */
:root {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
  --navbar-height: 96px;
}